<div class="login-container">
    <div class="logo">Rotten Potatoes</div>
    <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sequi sit voluptatem nihil officiis placeat! Eligendi enim totam in repellendus 
        est molestias temporibus voluptatem et veniam necessitatibus, quae nemo amet voluptatibus!
        Odio cupiditate, deserunt ea aliquam, inventore labore eligendi eaque 
        quam vitae corporis numquam sint delectus esse quaerat illo harum. Obcaecati, doloribus. 
        Repellat quasi suscipit quo perferendis cupiditate, porro ipsa. Quae.</div>
</div>
